<<<<<<< HEAD
.navigation ul{
	display: inline-block;
	list-style-type: none;
	text-align: center;
	width:100%;
}

ul li {
	display: inline-block;
	border-right: 2px black solid;
	border-left: 2px black solid;
}

li a {
    
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation:hover {
=======
body{
	
}

#navbar a{
	
}

#navbar li{
	
}

#disclaimer{
	font-size: small;
	color: #000000;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:inline;
>>>>>>> 15b02374c321b53fc321cf3b89275f04bb4ea04a
	
}