/*navigation bar*/
.navigation ul{
	list-style-type: none;
	text-align: center;
	width:100%;
}

ul li {
	display: inline-block;
	border-right: 2px black solid;
	border-left: 2px black solid;
}

li a {
    color: black;
    text-align: center;
    padding: 5px 40px;
    text-decoration: none;
}
hr {
	color: pink;
}

li:hover {
	background-color:red;
}

.active{
	background-color: pink;
}



.navigation:hover {
}



/*main body*/
.about {
	padding: 75px;
	border: 1px solid black;
}

.recipes{
	padding: 75px;
	border: 1px solid black;
}

.contact {
	padding: 75px;
	border: 1px solid black;
}

.main:hover {
	opacity:.8px;
}


/*footer*/
.footer ul{
	
	color: #000000;
	display:inline-block;
	list-style-type: none;
	text-align: center;
	width:100%;

}

.footer li{
	
	margin: auto;
	padding: 10px 20px;
	border-right: 2px, solid, black;
	border-left: 2px solid black; 
	 
	
}

.copy{
	font-size: 10px;
